@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f1f1f1;
    min-height: 200vh;
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: 16px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    flex-wrap: nowrap;

}
header{
    align-items: center;
    padding: 20px 5%;
    width: 100%;
    position: fixed;
    z-index: 100000;
    transition: 0.6s;
}
header.sticky{
    padding: 10px 5%;
    background: #eda358;
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-size: cover; 
    position: relative;
}

.logo{
    position: relative;
    cursor: pointer;
    font-size: 30;
    font-weight: 800;
}
.nav_links {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;  

}

.nav_links li{
    position: relative;
    list-style: none;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
    font-weight: 700;
    position: relative;
}
.nav_links li a:hover{
    color: #b1b0b0;
}
button{
    padding: 9px 27px;
    background-color: rgba(237, 163, 88, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    font-size: 17;
    position: relative;
}
button:hover{
    background-color: rgba(237, 163, 88, 0.8);
}
header.sticky .nav_links li a{
    color: #f1f1f1;
}
header.sticky .nav_links .contact button{
    color: #030400;
    background-color: #f1f1f1;
}
.contact-left {
    flex-basis: 35%;
    padding: 5%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: aqua;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 1s;
}

.social-icons a:hover {
    color: aqua;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: aqua;
}

.contact-right form {
    width: 100%;
    padding: 10%;
}

.contacts-grid{ 
    display: grid; 
    grid-template-columns: auto auto; 
} 

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.btn.btn2 {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid aqua;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: background 0.5s;
}

.btn.btn2:hover {
    background: aqua;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}
